# Dependencies
node_modules

# Build output
dist

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.sw?
opencode.json
.opencode.removed
.tanstack.removed

# OS
.DS_Store
.agents

# Env
.env
.env*.local
